<h4>List of all candidate's timeslots</h4>
  
<div *ngFor="let candidates_timeslot of candidates_timeslots | paginate: { itemsPerPage: 5, currentPage: p }">
    <app-candidates-timeslot-detail [candidates_timeslot]='candidates_timeslot'></app-candidates-timeslot-detail> 
</div>
<br>
<div>  
    <pagination-controls (pageChange)="p = $event"></pagination-controls>
</div>
<hr/>
<h4>Create new timeslot for {{ candidate.first_name }}</h4>

<div class="createForm">
    <form #f="ngForm" (ngSubmit)="f.form.valid && onSubmit(f)" novalidate>
            <div class="form-group">
                <input name="start_date" placeholder="Start date (YYYY-MM-dd hh:mm)" ngModel required #start_date="ngModel" class="form-control" type="text" [ngClass]="{'is-invalid': f.submitted && start_date.invalid }">
                <div *ngIf="f.submitted && start_date.invalid" class="invalid-feedback">
                    <div *ngIf="start_date.errors.required">Start date is required</div>
                </div>
                <input name="end_date" placeholder="End date (YYYY-MM-dd hh:mm)" ngModel required #end_date="ngModel" class="form-control" type="text" [ngClass]="{'is-invalid': f.submitted && end_date.invalid }">
                <div *ngIf="f.submitted && end_date.invalid" class="invalid-feedback">
                    <div *ngIf="end_date.errors.required">End date is required</div>
                </div>
                <button  class="btn btn-primary">Submit</button>
            </div>
    </form>
</div>
