<h4>List of all interviewers</h4>

<div *ngFor="let interviewer of interviewers">
    <app-interviewer-detail [interviewer]='interviewer'></app-interviewer-detail>
</div>

<hr/>
<h4>Create new Interviewer</h4>

<form #f="ngForm" (ngSubmit)="onSubmit(f)" novalidate>
        <div class="form-group">
            <input name="first_name" placeholder="Enter first name" ngModel required #first="ngModel" class="form-control" type="text"><br>
            <input name="last_name" placeholder="Enter last name" ngModel class="form-control" type="text"><br>
            <input name="email"  placeholder="Enter email" ngModel class="form-control" type="text"><br>
            <button  class="btn btn-primary">Submit</button>
        </div>
</form>